@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .active {
    @apply text-white before:block before:absolute before:bg-purpleBtn before:inset-0 before:rounded-full;
  }
}

.bg {
  background-image: url('../assets/backgrounds/works.jpg');
  background-size: 150rem;
}

.dark .bg {
  background-image: url('../assets/backgrounds/worksDark.jpg');
  background-size: 85rem;
}

.bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.dark .bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}
